@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-full;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

table {
  width: 100%;
}
table td {
  padding: 1.5rem 0.75rem;
  border: 1px solid #777;
}
