@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-full;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

table {
  width: 100%;
}

table td {
  padding: 1.5rem 0.75rem;
  border: 1px solid #777;
}

/*  sponsors section styles*/
.spacer {
  height: 2rem;
}

.exclusive-sponsers img {
  border: 2px solid rgb(162, 28, 175);
}

.exclusive-sponsers #description {
  text-shadow: 1px 1px 1px rgb(162, 28, 175);
}

#exclusive {
  color: rgb(162, 28, 175);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.gold-sponsors img {
  border: 2px solid #e2c109;
}

.gold-sponsors #description {
  text-shadow: 1px 1px 1px #e2c109;
}

#gold {
  color: #e2c109;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.silver-sponsors img {
  border: 2px solid silver;
}

.silver-sponsors #description {
  text-shadow: 1px 1px 1px silver;
}

#silver {
  color: silver;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.bronze-sponsors img {
  border: 2px solid #cd7f32;
}

.bronze-sponsors #description {
  text-shadow: 1px 1px 1px #cd7f32;
}

#bronze {
  color: #cd7f32;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.local-np-sponsors img {
  border: 2px solid rgb(44, 44, 187);
}

.local-np-sponsors #description {
  text-shadow: 1px 1px 1px rgb(44, 44, 187);
}

#local {
  color: rgb(44, 44, 187);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.inkind-sponsors img {
  border: 2px solid rgba(90, 0, 139, 0.837);
}

.inkind-sponsors #description {
  text-shadow: 1px 1px 1px rgba(90, 0, 139, 0.837);
}

#inkind {
  color: rgba(90, 0, 139, 0.837);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
